<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


  <title>Document</title>
</head>
<style>
  #list1 .form-control {
    border-color: transparent;
  }

  #list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
  }

  #list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
  }

  .hidden {
    display: none;
  }
</style>

<body>
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;height: 80vh;">
            <div class="card-body py-4 px-4 px-md-5">

              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <i class="fas fa-check-square me-1"></i>
                <u>My Todo-s</u>
              </p>
              <form action="/add/" method="POST">
                <div class="pb-2">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-row align-items-center">
                        <input type="text" name="task" class="form-control form-control-lg"
                          id="exampleFormControlInput1" placeholder="Add new...">
                        <input type="date" name="date" class="btn btn-link" data-toggle="tooltip" title="Set due date">
                        <button id="dueDateButton" type="button" class="btn btn-link" data-toggle="tooltip"
                          title="Set due date"><i class="fas fa-calendar-alt fa-lg me-3"></i></button>
                        <div id="calendar-container" class="hidden">

                          <!-- Calendar content goes here -->
                        </div>
                        <div>
                          <input type="submit" name="add" class="btn btn-primary" value="Add">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <hr class="my-4">

              <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                <p class="small mb-0 me-2 text-muted">Filter</p>
                <select class="select">
                  <option value="1">All</option>
                  <option value="2">Completed</option>
                  <option value="3">Active</option>
                  <option value="4">Has due date</option>
                </select>
                <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                <select class="select">
                  <option value="1">Added date</option>
                  <option value="2">Due date</option>
                </select>
                <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i
                    class="fas fa-sort-amount-down-alt ms-2"></i></a>
              </div>
              {% for task in tasks %}
              <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
                <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                  <div class="form-check">
                    <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked1"
                      aria-label="..." style="zoom: 1.5;">
                  </div>
                </li>
                <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                  <p class="lead fw-normal mb-0" style="font-size: 25px;">{{ task['task'] }}</p>
                </li>
                <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                  <div class="d-flex flex-row justify-content-end mb-1">
                    <form action="/edit" method="POST">
                      <input type="submit" value="edit" name="submit" class="text-info" data-mdb-toggle="tooltip"
                        title="Edit todo"></a>
                      </form>
                      <form action="/delete" method="POST">
                      <input type="hidden" value="{{ task._id }}" name="task_id">
                      <input type="submit" value="delete" name="submit" class="text-danger" data-mdb-toggle="tooltip"
                        title="Delete todo"></a>
                    </form>
                  </div>
                  <div class="text-end text-muted">
                    <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                      <p class="small mb-0" style="font-size: 18px;"><i class="fas fa-info-circle me-2"></i>{{
                        task['date'] }}</p>
                    </a>
                  </div>
                </li>
              </ul>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Include jQuery and jQuery UI Datepicker JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</html>